html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
}
header {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('https://raw.githubusercontent.com/Brindhamanick/Brindhamanick/refs/heads/main/assests/cardbg5.webp');
    height: 100vh;
    background-size: cover;
    background-position: center;
}


.nav {
    font-family: 'Avenir';
    list-style: none;
    position: fixed;
    background: black;
    opacity: 0.5;
    width: 100%;
    line-height: 50px;
    text-align: right;
}
.nav li {
    display: inline-block;
    cursor: pointer;
}
.nav li a{
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    font-family: cursive;
    font-size: 16px;
}
.nav li:hover {
    border-bottom: 2px solid teal;
}
.row {
    margin: auto;
}
.title {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.title h1 {
    color: white;
    font-family: cursive;
    font-size: 42px;
    text-align: center;
    /*margin-top: 275px;
    margin-left: 80px; */
}
.title h2 {
    color: white;
    font-family: cursive;
    font-size: 22px;
    text-align: center;
    /*margin-top: 275px;
    margin-left: 80px; */
}

.title h3 {
    color: white;
    font-family: cursive;
    font-size: 16px;
    text-align: center;
    /*margin-top: 275px;
    margin-left: 80px; */
}


.title .down-arrow {
    font-size:48px;
    color:white;
    /* margin-left: 300px;
    padding-top: 16px; */
    cursor: pointer;
}
.about-us-container {
    background-image: url("https://github.com/Brindhamanick/Brindhamanick/blob/main/assests/bg.png?raw=true");
    background-repeat: no-repeat;
    background-size: cover ;
    padding: 40px 40px 100px 40px;
    height: 580px;
    display: flex;
}
.column {
    flex: 1;
    margin: 24px;
}
.description {
    text-align: center;
}


footer p {
    color: white;
    font-family: cursive;
    font-size: 13px;
    text-align: center;
    margin: 0;
    padding: 10px;
}
